# 指定服务器的端口
server:
  port: 9999

# 配置连接数据库的参数
spring:
  datasource:
#    url: jdbc:mysql://35.73.43.148:12579/sns_ai_product_pro?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    url: jdbc:mysql://57.180.251.211:12579/sns_ai_product_dev?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: '!QAZ2wsx3edc'
  application:
    name: product
# 日志的显示级别
logging:
  level:
    com.app.sns.aiproduct: trace
